In [163]:
import tensorflow as tf
tf.config.list_physical_devices("GPU")

[]

In [164]:
import pandas as pd
import py7zr

In [165]:

"""
with py7zr.SevenZipFile(r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/songs.csv.7z', mode='r') as z:
    z.extractall(path=r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge')

with py7zr.SevenZipFile(r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/members.csv.7z', mode='r') as z:
    z.extractall(path=r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge')

with py7zr.SevenZipFile(r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/song_extra_info.csv.7z', mode='r') as z:
    z.extractall(path=r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/music')

with py7zr.SevenZipFile(r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/train.csv.7z', mode='r') as z:
    z.extractall(path=r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge')

with py7zr.SevenZipFile(r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/test.csv.7z', mode='r') as z:
    z.extractall(path=r'C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge')
"""

In [166]:
songs = pd.read_csv(r"C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/songs.csv")
#song_extra = pd.read_csv(r"C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/song_extra_info.csv")
members = pd.read_csv(r"C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/members.csv")
train = pd.read_csv(r"C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/train.csv")
test = pd.read_csv(r"C:\Users\cyril\OneDrive\Pictures\Internship\Music recomentation\kkbox-music-recommendation-challenge/test.csv")

### analysing

In [167]:
songs.info()
songs.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296320 entries, 0 to 2296319
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   song_id      object
 1   song_length  int64
 2   genre_ids    object
 3   artist_name  object
 4   composer     object
 5   lyricist     object
 6   language     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 122.6+ MB

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

In [168]:
song_extra.info()
song_extra.head()

NameError: name 'song_extra' is not defined

In [169]:
members.info()
members.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34403 entries, 0 to 34402
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   msno                    34403 non-null  object
 1   city                    34403 non-null  int64
 2   bd                      34403 non-null  int64
 3   gender                  14501 non-null  object
 4   registered_via          34403 non-null  int64
 5   registration_init_time  34403 non-null  int64
 6   expiration_date         34403 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.8+ MB

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [170]:
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377418 entries, 0 to 7377417
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   msno                object
 1   song_id             object
 2   source_system_tab   object
 3   source_screen_name  object
 4   source_type         object
 5   target              int64
dtypes: int64(1), object(5)
memory usage: 337.7+ MB

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [171]:
test.info()
test.head()
test.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556790 entries, 0 to 2556789
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  int64
 1   msno                object
 2   song_id             object
 3   source_system_tab   object
 4   source_screen_name  object
 5   source_type         object
dtypes: int64(1), object(5)
memory usage: 117.0+ MB

id                         0
msno                       0
song_id                    0
source_system_tab       8442
source_screen_name    162883
source_type             7297
dtype: int64

## Train and Test

In [172]:
df = pd.DataFrame(pd.merge(train, songs, on='song_id'))
df

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
1,e5Ezre9HPuPos+CXQXtmo32E/hHIZTMmo6jG3yRf6UA=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,my library,Local playlist more,local-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
2,pouJqjNRmZOnRNzzMWWkamTKkIGHyvhl/jo4HgbncnM=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,discover,Online playlist more,online-playlist,0,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
3,sSexP400TJOZRhx3JB+0s9cqrCnqrlV51B9njoKR1II=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,discover,Online playlist more,online-playlist,0,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
4,hKdGiUKHVqKkXGHLrc+EzdSW6q0ERAJ2Cs7/L1N0Ae4=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,discover,NaN,online-playlist,0,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7377299,wCGT5Nb+vL9GXEZ87Kp8BAqFOVZugZSxG1706efctMU=,FmdO/4DNXqJWwA0FH2LEdvy/WuUU/Aq2DKlbFvQT6oY=,discover,Discover Genre,album,0,397479,2079,Chaandanee,Chaandanee,Chaandanee,52.0
7377300,wCGT5Nb+vL9GXEZ87Kp8BAqFOVZugZSxG1706efctMU=,qzY5KBI8QBg1fs/qrhNm1KLe7lVbjYRbNtA595gl9vQ=,discover,Discover Genre,album,0,420911,2079,Chaandanee,Chaandanee,Chaandanee,52.0
7377301,OHw2qQArWtGlk/gthkEt8WmDnx/1SxLgeqXisMzhHyM=,SZZUaT+kWlIDkjgJqK5VJls94gArFT1BgkrFLjvJVIc=,my library,Online playlist more,online-playlist,0,226348,958,Francis Goya,Wallux| F.Weyer,NaN,-1.0
7377302,AkvLFGpB1EDBAQBa1xgCq3hq8hoFRsV+AO0ezHdCVN4=,7+DNPp8HiFDXlQmNejGezfdJ15eXGms1PmRCwtc+zVQ=,discover,Online playlist more,song-based-playlist,1,198949,465,Salvina y Miren al Lobo,NaN,NaN,52.0
7377303,j7NK18jKavoyccmVEC/BCtiXbUsfLfmAGFAsgZKSJ0E=,WJzitiYM7ddyalCdx8/Gkkt1UFSp2t/0ZY74CrMGvWg=,my library,Search,song,0,136032,1609|947,証聲音樂圖書館 ECHO MUSIC,Sutton,NaN,52.0

In [173]:
df_test = pd.DataFrame(pd.merge(test, songs, on='song_id'))
df_test

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
1,2954,mp5bRgC7VAhEpWlAiOn4jG8CD9FJZt7725f93t5i99M=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Search,song,224130,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
2,14420,NSBR1BrOO3XDapGQCMi19nRidHD4qzoEXbGGnBap/e0=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-playlist,224130,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
3,17473,kvRxHi514EY2/4FzahC/vBf/Zn13/3ZwXweeepjewzk=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-playlist,224130,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
4,32738,Qh0RP1Refm1D6eV5PjusX+agjnNczGUR8eeWBGj3UvU=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-playlist,224130,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2556760,2556424,OxQAwGphun4gWlzqmiMDaAl+HUpRwEhPZ/10PcJrmLw=,tdbPYQsWxuul/G4B0uWHQ4sYgZMVUhJg744xa2EGXD0=,search,Artist more,top-hits-for-artist,233871,2122,Jazz in The Lobby Bar,NaN,NaN,-1.0
2556761,2556435,EbCnhecwbtc0LgP1yf0ZqZaQ6Xc5189EjbUOWO3uh4k=,JLB8bXKrUEsaBB1e2cDq54PuGEsmIeMTj+AyRt/BnC4=,search,Album more,album,231601,444,MAMAMOO,NaN,NaN,31.0
2556762,2556440,36Y0h8i5HeSpyRSiCQgcyqeF8cN+B6F6VEbRBlwQdnA=,TLKg+h+NRpYAp+RpbWnBp3yB2B7Fne4uptGcpu3Qk+g=,my library,Local playlist more,local-library,376999,1609,Various Artists (21 hits),NaN,NaN,-1.0
2556763,2556577,9jLOPEOH8oEbYQ4qgR1aMvSLwsaObRc19hcDWysSwjI=,D0COZM4CK1DzIsBdlUHKgyLXUUwabWWldOmdyvdgKyU=,my library,Local playlist more,local-library,185945,1259,Machine Gun Kelly,"Colson Baker pka ""MGK"" for EST| E. Johnson| B....",NaN,52.0
2556764,2556602,mH0G4wi0u35/WiS8S7hD+xXzu9puoxl6xAFSsm/1z64=,wsKQkW0bHGi4oeTSOn8KgYvu4ZOSHFLwMn6yL54g3Is=,explore,Online playlist more,online-playlist,265543,465,Beyond,Jia Ju Huang,NaN,24.0

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377304 entries, 0 to 7377303
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   msno                object
 1   song_id             object
 2   source_system_tab   object
 3   source_screen_name  object
 4   source_type         object
 5   target              int64
 6   song_length         int64
 7   genre_ids           object
 8   artist_name         object
 9   composer            object
 10  lyricist            object
 11  language            float64
dtypes: float64(1), int64(2), object(9)
memory usage: 675.4+ MB

In [175]:
df.isnull().sum()

msno                        0
song_id                     0
source_system_tab       24849
source_screen_name     414796
source_type             21539
target                      0
song_length                 0
genre_ids              118341
artist_name                 0
composer              1675592
lyricist              3178698
language                   36
dtype: int64

In [176]:
df_test.isnull().sum()

id                          0
msno                        0
song_id                     0
source_system_tab        8442
source_screen_name     162880
source_type              7297
song_length                 0
genre_ids               42085
artist_name                 0
composer               619279
lyricist              1224722
language                   17
dtype: int64

In [177]:
df.isnull().mean() * 100

msno                   0.000000
song_id                0.000000
source_system_tab      0.336830
source_screen_name     5.622596
source_type            0.291963
target                 0.000000
song_length            0.000000
genre_ids              1.604123
artist_name            0.000000
composer              22.712796
lyricist              43.087529
language               0.000488
dtype: float64

In [178]:
df_test.isnull().mean() * 100

id                     0.000000
msno                   0.000000
song_id                0.000000
source_system_tab      0.330183
source_screen_name     6.370550
source_type            0.285400
song_length            0.000000
genre_ids              1.646025
artist_name            0.000000
composer              24.221194
lyricist              47.901235
language               0.000665
dtype: float64

In [179]:
df = df.drop(["lyricist","source_screen_name","song_length","msno","source_system_tab"],axis=1)
df.isnull().mean() * 100

song_id         0.000000
source_type     0.291963
target          0.000000
genre_ids       1.604123
artist_name     0.000000
composer       22.712796
language        0.000488
dtype: float64

In [180]:
df_test = df_test.drop(["lyricist","source_screen_name","song_length","msno","source_system_tab"],axis=1)
df_test.isnull().mean() * 100

id              0.000000
song_id         0.000000
source_type     0.285400
genre_ids       1.646025
artist_name     0.000000
composer       24.221194
language        0.000665
dtype: float64

In [181]:
df.head()

,song_id,source_type,target,genre_ids,artist_name,composer,language
0,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,online-playlist,1,359,Bastille,Dan Smith| Mark Crew,52.0
1,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,local-playlist,1,359,Bastille,Dan Smith| Mark Crew,52.0
2,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,online-playlist,0,359,Bastille,Dan Smith| Mark Crew,52.0
3,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,online-playlist,0,359,Bastille,Dan Smith| Mark Crew,52.0
4,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,online-playlist,0,359,Bastille,Dan Smith| Mark Crew,52.0

In [182]:
df = df.fillna(df.mode().iloc[0])
df_test = df_test.fillna(df.mode().iloc[0])

In [183]:
df.head()
df.isnull().mean() * 100

song_id        0.0
source_type    0.0
target         0.0
genre_ids      0.0
artist_name    0.0
composer       0.0
language       0.0
dtype: float64

In [184]:
df_test.isnull().mean() * 100

id             0.0
song_id        0.0
source_type    0.0
genre_ids      0.0
artist_name    0.0
composer       0.0
language       0.0
dtype: float64

## Label Encoding

In [185]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

#label_encoder.fit(df['msno'])
label_encoder.fit(df['song_id'])
#label_encoder.fit(df['source_system_tab'])
#label_encoder.fit(df['source_screen_name'])
label_encoder.fit(df['source_type'])
label_encoder.fit(df['artist_name'])
label_encoder.fit(df['composer'])

LabelEncoder()

In [186]:
#df['msno'] = label_encoder.fit_transform(df['msno'])
df['song_id'] = label_encoder.fit_transform(df['song_id'])
#df['source_system_tab'] = label_encoder.fit_transform(df['source_system_tab'])
#df['source_screen_name'] = label_encoder.fit_transform(df['source_screen_name'])
df['source_type'] = label_encoder.fit_transform(df['source_type'])
df['artist_name'] = label_encoder.fit_transform(df['artist_name'])
df['composer'] = label_encoder.fit_transform(df['composer'])
df

,song_id,source_type,target,genre_ids,artist_name,composer,language
0,74668,6,1,359,3277,14581,52.0
1,74668,4,1,359,3277,14581,52.0
2,74668,6,0,359,3277,14581,52.0
3,74668,6,0,359,3277,14581,52.0
4,74668,6,0,359,3277,14581,52.0
...,...,...,...,...,...,...,...
7377299,100330,0,0,2079,5368,10631,52.0
7377300,309331,0,0,2079,5368,10631,52.0
7377301,172171,6,0,958,10610,61821,-1.0
7377302,50947,9,1,465,25747,67155,52.0
7377303,193172,8,0,1609|947,38960,57420,52.0

In [187]:
#df_test['msno'] = label_encoder.fit_transform(df_test['msno'])
df_test['song_id'] = label_encoder.fit_transform(df_test['song_id'])
#df_test['source_system_tab'] = label_encoder.fit_transform(df_test['source_system_tab'])
#df_test['source_screen_name'] = label_encoder.fit_transform(df_test['source_screen_name'])
df_test['source_type'] = label_encoder.fit_transform(df_test['source_type'])
df_test['artist_name'] = label_encoder.fit_transform(df_test['artist_name'])
df_test['composer'] = label_encoder.fit_transform(df_test['composer'])

## Model training

In [238]:
X = df.drop(["target"],axis=1)
y= df["target"]

In [189]:
#X = X.iloc[:59010000]

In [ ]:
import numpy as np
def split_and_convert(s):
    parts = s.split('|')
    numbers = [int(part) for part in parts]
    numbers = np.int64(numbers[0])
    return numbers

X['genre_ids'] = X['genre_ids'].apply(split_and_convert)
X.info()

In [191]:
X

         song_id  source_type  genre_ids  artist_name  composer  language
0          74668            6        359         3277     14581      52.0
1          74668            4        359         3277     14581      52.0
2          74668            6        359         3277     14581      52.0
3          74668            6        359         3277     14581      52.0
4          74668            6        359         3277     14581      52.0
...          ...          ...        ...          ...       ...       ...
7377299   100330            0       2079         5368     10631      52.0
7377300   309331            0       2079         5368     10631      52.0
7377301   172171            6        958        10610     61821      -1.0
7377302    50947            9        465        25747     67155      52.0
7377303   193172            8       1609        38960     57420      52.0

[7377304 rows x 6 columns]

In [198]:
y.unique()

array([1, 0], dtype=int64)

In [192]:
y

0          1
1          1
2          0
3          0
4          0
          ..
7377299    0
7377300    0
7377301    0
7377302    1
7377303    0
Name: target, Length: 7377304, dtype: int64

In [193]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [194]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout
from keras import regularizers

In [205]:

model = Sequential()
model.add(Dense(6, activation='relu', input_dim=6))
model.add(Dense(450, activation='relu',kernel_regularizer=regularizers.l1(0.02)))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(150, activation='relu'))
model.add(Dense(320, activation='relu',kernel_regularizer=regularizers.l1(0.02)))
model.add(BatchNormalization())
model.add(Dense(350, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(450, activation='relu',kernel_regularizer=regularizers.l1(0.02)))
model.add(Dense(150, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(350, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [206]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [240]:
model.fit(X, y, epochs=20, batch_size=64,steps_per_epoch=3000)

Epoch 1/20
3000/3000 [==============================] - 40s 13ms/step - loss: 1.1722 - accuracy: 0.5008
Epoch 2/20
3000/3000 [==============================] - 38s 13ms/step - loss: 1.1722 - accuracy: 0.5037
Epoch 3/20
3000/3000 [==============================] - 38s 13ms/step - loss: 1.1722 - accuracy: 0.5017
Epoch 4/20
3000/3000 [==============================] - 37s 12ms/step - loss: 1.1722 - accuracy: 0.5004
Epoch 5/20
3000/3000 [==============================] - 37s 12ms/step - loss: 1.1721 - accuracy: 0.5026
Epoch 6/20
3000/3000 [==============================] - 37s 12ms/step - loss: 1.1721 - accuracy: 0.5027
Epoch 7/20
3000/3000 [==============================] - 37s 12ms/step - loss: 1.1721 - accuracy: 0.5033
Epoch 8/20
3000/3000 [==============================] - 38s 13ms/step - loss: 1.1720 - accuracy: 0.5025
Epoch 9/20
3000/3000 [==============================] - 49s 16ms/step - loss: 1.1720 - accuracy: 0.5033
Epoch 10/20
3000/3000 [==============================] - 43s 14ms/step - loss: 1.1719 - accuracy: 0.5016
Epoch 11/20
3000/3000 [==============================] - 44s 15ms/step - loss: 1.1719 - accuracy: 0.5019
Epoch 12/20
3000/3000 [==============================] - 43s 14ms/step - loss: 1.1719 - accuracy: 0.5030
Epoch 13/20
3000/3000 [==============================] - 44s 15ms/step - loss: 1.1719 - accuracy: 0.5027
Epoch 14/20
3000/3000 [==============================] - 44s 15ms/step - loss: 1.1718 - accuracy: 0.5044
Epoch 15/20
3000/3000 [==============================] - 40s 13ms/step - loss: 1.1718 - accuracy: 0.5021
Epoch 16/20
3000/3000 [==============================] - 39s 13ms/step - loss: 1.1721 - accuracy: 0.5038
Epoch 17/20
3000/3000 [==============================] - 39s 13ms/step - loss: 1.1721 - accuracy: 0.5051
Epoch 18/20
3000/3000 [==============================] - 39s 13ms/step - loss: 1.1719 - accuracy: 0.5008
Epoch 19/20
3000/3000 [==============================] - 39s 13ms/step - loss: 1.1736 - accuracy: 0.5028
Epoch 20/20
3000/3000 [==============================] - 39s 13ms/step - loss: 1.1709 - accuracy: 0.5019

In [211]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [213]:
logreg.fit(X_train, y_train)

LogisticRegression()

In [214]:
y_pred = logreg.predict(X_test)
accuracy = logreg.score(X_test, y_test)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.51